@model attica_gold.Models.EmployeeModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CseLayout.cshtml";
}

    <div class="row">
        <div class="col-md-11">
            <div class="panel panel-default">
                <div class="panel-heading">
                    
                        Employee Details
                        <div class="pull-right">
                            <button type="button" class="btn btn-success" onclick="window.location.href = 'Create';">Add New Employee</button>
                        </div>                    
                       
                </div>
                <div class="panel-body">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.employeedata)
                                {
                                <tr>
                                    <td>@item.employee_id</td>
                                    <td>@item.first_name</td>
                                    <td>@item.last_name</td>
                                    <td>@item.email</td>
                                   
                                    <td>
                                        <button type="button" class="btn btn-info" onclick="window.location.href = '/employee/show/@item.id';">View</button>
                                        <button type="button" class="btn btn-warning" onclick="window.location.href = '/employee/edit/@item.id';">Edit</button>
                                        <button type="button" class="btn btn-danger" onclick="validate(@item.id)">Delete</button>
                                    </td>
                                </tr>
                                }
                                
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>


<script>

    function validate(id) 
    {
        var result = confirm("Want to delete?");
        if (result) {
            window.location.href ="/employee/delete/"+id;
          }
    }
</script>