@model attica_gold.Models.EmployeeModels
@{
    var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["role"].ToString();
    string layout = "";

     layout = "~/Views/Shared/_"+controller+"Layout.cshtml";
  <!----  if (controller == "BranchManager")
    {
        layout = "~/Views/Shared/_BranchManagerLayout.cshtml";
    }
    else if (controller == "Cse")
    {
        layout = "~/Views/Shared/_CseLayout.cshtml";
    }
    else
    {
        layout = "~/Views/Shared/_AdminLayout.cshtml";

    }
      -->
    Layout = layout;

    <!--
 ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CseLayout.cshtml";-->
}

    <div class="row">
        <div class="col-md-11">
            <div class="panel panel-default">
                <div class="panel-heading">
                    
                        Branch Details
                        <div class="pull-right">
                            <button type="button" class="btn btn-success" onclick="window.location.href = '/branch/Create';">Add New Branch</button>
                        </div>                    
                       
                </div>
                <div class="panel-body">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Contact Number</th>
                                    <th>City</th>
                                    <th>State</th>
                                    
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.branchdata)
                                {
                                <tr>
                                    <td>@item.branch_id</td>
                                    <td>@item.branch_name</td>
                                    <td>@item.mobile_number</td>
                                    <td>@item.city</td>
                                    <td>@item.state</td>
                                    
                                   
                                    <td>
                                        <button type="button" class="btn btn-info" onclick="window.location.href = '/branch/show/@item.id';">View</button>
                                        <button type="button" class="btn btn-warning" onclick="window.location.href = '/branch/edit/@item.id';">Edit</button>
                                        <button type="button" class="btn btn-danger" onclick="validate(@item.id)">Delete</button>
                                    </td>
                                </tr>
                                }
                                
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>


<script>

    function validate(id) 
    {
        var result = confirm("Want to delete?");
        if (result) {
            window.location.href ="/branch/delete/"+id;
          }
    }
</script>